<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false">

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
    </php>

	<testsuites>
		<testsuite name="command">
			<file>./tests/Command/SetupCommandTest.php</file>
			<file>./tests/Command/CacheCommandTest.php</file>
			<file>./tests/Command/JobsCommandTest.php</file>
			<file>./tests/Command/AccountCommandTest.php</file>
		</testsuite>
		<testsuite name="base">
			<directory>./tests/Base</directory>
		</testsuite>
		<testsuite name="controller">
			<directory>./tests/Controller</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">./src/</directory>
			<exclude>
				<directory>./src/database/migrations/</directory>
				<directory>./src/views/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>